@import "./config";

///////////////////////////
// FOOTER ////////////////
.footer {
  // border: 3px solid green;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 25px;
  background-color: $black;
  color: $white;
  font-family: 'Audiowide', cursive;
}

// .cityFooter {
//   // border: 1px solid red;
//   margin-right: 50px;
// }

// .cityIcon {
//   margin-right: 20px;
//   color: $pink;
// }

.emailFooter {
  // border: 1px solid yellow;
  margin-left: 50px;
}

.emailIcon {
  margin-right: 20px;
  color: $pink;
}


/////////////////////////
//mobile ///////////////
//SMALL
@include mediaSm {
  .footer {
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    text-align: center;
  }
  // .cityFooter {
  //   margin-right: 0;
  // }
  .emailFooter {
    margin-left: 0;
  }
}

//MEDIA
@include mediaMd {
  .footer {
    flex-direction: column;
    padding: 15px;
    font-size: 15px;
    text-align: center;
  }
  // .cityFooter {
  //   margin-right: 0;
  // }
  .emailFooter {
    margin-left: 0;
  }
}

//LARGE
@include mediaLg {
}

@include mediaXl {
}