@import "./config";

///////////////////////////
// FOOTER ////////////////
.footer {
  // border-top: 4px solid $black;
  // border: 3px solid green;
  box-sizing: border-box;
  // position: fixed;
  // bottom: 0;
  margin: auto 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding: 25px;
  font-size: 23px;
  background-color: $purple;
  color: $white;
  font-family: 'Audiowide', cursive;
}

.cityFooter {
  // border: 1px solid red;
  margin-right: 50px;
}

.cityIcon {
  margin-right: 20px;
  color: $pink;
}

.emailFooter {
  // border: 1px solid yellow;
  margin-left: 50px;
}

.emailIcon {
  margin-right: 20px;
  color: $pink;
}


/////////////////////////
//mobile ///////////////
//SMALL
@include mediaSm {
  .footer {
    flex-direction: column;
    font-size: 14px;
    text-align: center;
  }
  .cityFooter {
    margin-right: 0;
  }
  .emailFooter {
    margin-left: 0;
  }
}

//MEDIA
@include mediaMd {
  .footer {
    flex-direction: column;
    font-size: 18px;
    text-align: center;
  }
  .cityFooter {
    margin-right: 0;
  }
  .emailFooter {
    margin-left: 0;
  }
}

//LARGE
@include mediaLg {
}

@include mediaXl {
}