@import "./config";

body {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  background-color: $white;
}

.main {
  width: 100%;
  min-height: 700px;
  background-color: $purple;
  margin-top: 90px;
}

h1 {
  color: $white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  padding-top: 200px;
}

h2 {
  color: $black;
  margin: 0 auto;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 45px;
  padding-top: 30px;
  // text-decoration: underline solid $pink;
  // background-color: $white;
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  // background-image: linear-gradient(130deg, $purple 0%, $pink 85%, $white 100%);

}

h3 {
  color: $purple;
  border-bottom: 4px dashed $pink;
  font-family: 'Audiowide', cursive;
  font-size: 38px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0;
  width: 95%;
  margin-top: 120px;
}


//mobile
@include mediaSm {

  h1 {
    margin-top: 100px;
  }
  h3 {
    margin-top: 100px;
  }
}

@include mediaMd {
}

@include mediaLg {
}

@include mediaXl {
}