@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Neucha&display=swap");
.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: grid;
  width: 95%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2.5rem; }

.item {
  font-family: 'Audiowide', cursive;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #000000;
  border-radius: 4px;
  border: 4px solid #8a1ad4;
  text-align: left;
  display: flex;
  flex-direction: column; }

.projectName {
  font-size: 33px;
  color: #ffffff;
  background-color: #eb15b5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 25px; }

.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
  margin-bottom: 20px; }

.summary {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: 'Neucha', cursive; }
  .summary li {
    margin-bottom: 10px; }

.iphone {
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 25px; }

.ipad {
  border-radius: 18px; }

.techUsed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px; }

.tag {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #eb15b5; }

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: repeat(1, auto); } }

@media screen and (min-width: 701px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(1, auto); } }

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, auto); } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  background-color: #ffffff; }

h1 {
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 80px; }

h2 {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(130deg, #8a1ad4 0%, #eb15b5 85%, #ffffff 100%); }

h3 {
  color: #eb15b5;
  border-bottom: 4px solid #8a1ad4;
  font-family: 'Audiowide', cursive;
  font-size: 38px; }
